@model List<PureGreenLandGroup.Models.ViewModel.Inspection.InspectionList>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Inspections List";
    
    var userInRole = @Accessor.HttpContext?.Session.GetString("LoggedUserRole")?.ToString() ?? string.Empty;
    bool isAdmin = userInRole == "Admin";
}

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<ul class="nav nav-tabs cstmINpectionTab" role="tablist" id="Inspection_grid_navbar">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="controller" aria-selected="true" onclick="GetInspectionByStatusFilter('all')">All</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="sestional" aria-selected="false" onclick="GetInspectionByStatusFilter('draft')">Draft</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="sestional" aria-selected="false" onclick="GetInspectionByStatusFilter('completed')">Completed</button>
    </li>
</ul>

<div class="rightSection">
    <div id="ReportContainer" style="display:none;">

        <div class="row d-flex justify-content-start ">
            <div class="pl-2 mb-2">
                <button href="#" class="btn btn-success col-auto" id="DownloadInsPdfBtn">Download</button>
                <button href="#" class="btn btn-success col-auto" id="OpenSendReportonEmailBtn">Send via Email</button>
                <button href="#" class="btn btn-secondary col-auto" onclick="location.reload();">Back</button>
            </div>
        </div>
        <iframe id="pdfIframe" style="width: 100%; height: 800px; display: none;"></iframe>
    </div>

    <div class="table-responsive pb-3" id="InspectionGridContainer">
        <div class="table_list_data mt-3">

            <table class="table table-bordered dataTable no-footer table-striped " id="InspectionTable">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Title</th>
                        <th>Controller</th>
                        <th>Property</th>
                        <th>Inspection Date</th>
                        <th>Inspector</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var inspectionDetails in Model)
                    {
                        <tr>
                            <td class="cstm-ellipse">@inspectionDetails.InspectionName</td>
                            <td>@inspectionDetails.ControllerName</td>
                            <td>@inspectionDetails.PropertyName </td>
                            <td>@inspectionDetails.InspectionDate.ToString("MM/dd/yyyy") </td>
                            <td>@inspectionDetails.Inspector </td>
                            @if (inspectionDetails.IsInspectionCompleted)
                            {
                                <td>Completed </td>
                            }
                            else
                            {
                                <td>Draft </td>
                            }
                            <td>
                                @if (isAdmin)
                                {
                                    <a class="btn text-success" onclick="RenderInspectionPdf('@inspectionDetails.InspectionId');">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                }
                                <a class="btn text-success" asp-action="PopulateInspection" asp-controller="InspectionManager" asp-route-inspectionId="@inspectionDetails.InspectionId" >
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a class="btn text-danger" onclick="DownloadInspectionPdfReport('@inspectionDetails.InspectionId');">
                                    <i class="fa-solid fa-file-pdf"></i>
                                </a>
                                @if (isAdmin)
                                {
                                    <a class="btn text-success" onclick="ExportCatalogMappingCSV('@inspectionDetails.InspectionId');">
                                        <i class="fa-solid fa-file-csv"></i>
                                    </a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Send inspection pdf report over email popup begins-->
<div class="modal fade modal-lg" id="SendReportOnEmailPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title">Send Report</h5>
                <button type="button" class="btn-close inspectionBtnClose BrokenHeadClosePopupBtn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="Inspection_id" />
                <div class="row mt-2 mb-4">
                    <div class="form-group">
                        <label>Enter email separated by semicolon<span class="text-danger fw-bold">*</span> </label>
                        <input type="text" id="EmailIdsInputs" class="form-control " placeholder="Enter email(s) e.g. abc@outlook.com;xyz@gmail.com" maxlength="500" onchange="ValidateReportEmails(this);" />
                        <span class="text-danger text-sm-center validation-font" id="EmailValidationText"></span>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-success" onclick="SendInspectionReportOnEmailRequest(event)">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Send inspection pdf report over email popup ends-->

<script src="https://code.jquery.com/jquery-1.11.3.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#InspectionTable').DataTable({
            "order": [[3, "desc"]],
            pageLength: 25,//set default page record 25
            columnDefs: [
                { orderable: false, targets: [6] } // Disable sorting for the first and fourth columns
            ],
            drawCallback: function (settings) {

                var api = this.api();
                var pageInfo = api.page.info();

                // Check if there are no records
                if (pageInfo.recordsDisplay === 0) {
                    // Disable both Previous and Next buttons
                    $('.dataTables_paginate .paginate_button').addClass('disabled');
                }
            }
        });
    });
</script>
