@model PureGreenLandGroup.Models.DTO.Account.UserRegistrationVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    @if (Model.Id > 0)
    {
        ViewData["Title"] = "Update User";
    }
    else
    {
        ViewData["Title"] = "Create User";
    }

}
<div class="rightSection createnewuser-outer">
    <div class="card" id="CreateUserContainer">
        <div class="card-header text-center text-white" style="background-color: #3ea30487;">
            @if (Model.Id > 0)
            {
                <h3 class="m-0 ">Update User</h3>
            }
            else
            {
                <h3 class="m-0 ">Create New User</h3>
            }
        </div>
        <div class="card-body p-0">
            <form asp-action="CreateNewUser" asp-controller="Account" enctype="application/x-www-form-urlencoded">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                <div class="p-3">
                    <div class="form-group  mb-4">
                        <label asp-for="FirstName">User Role <span class="text-danger fw-bold">*</span></label>
                        @if (Model.Id == 0)
                        {
                            <!--editable user role dropdown on create new user-->

                            <select class="form-select col-md-6" asp-for="RoleId">
                                <option disabled>select user role</option>
                                @if (ViewBag.Roles != null)
                                {
                                    foreach (var role in ViewBag.Roles)
                                    {
                                        <option value="@role.RoleId">@role.RoleName</option>
                                    }
                                }
                                else
                                {
                                    <option value="1">Admin</option>
                                    <option value="2">Technician</option>
                                }
                            </select>
                        }
                        else
                        {
                            <!--disable user role dropdown on create new user-->
                            <select class="form-select col-md-6" asp-for="RoleId" disabled>
                                <option disabled>select user role</option>
                                @if (ViewBag.Roles != null)
                                {
                                    foreach (var role in ViewBag.Roles)
                                    {
                                        <option value="@role.RoleId">@role.RoleName</option>
                                    }
                                }
                                else
                                {
                                    <option value="1">Admin</option>
                                    <option value="2">Technician</option>
                                }

                            </select>
                        }
                        <span asp-validation-for="RoleId" class="text-danger text-sm-center validation-font"></span>
                    </div>
                    <div class="form-group mb-4">
                        <label asp-for="FirstName">First name <span class="text-danger fw-bold">*</span></label>
                        <input type="text" class="form-control col-md-6 format-input" asp-for="FirstName" placeholder="Enter first name" pattern="^[a-zA-Z ]+$" maxlength="30" />
                        <span asp-validation-for="FirstName" class="text-danger text-sm-center validation-font"></span>
                    </div>
                    <div class="form-group  mb-4">
                        <label asp-for="LastName">Last name <span class="text-danger fw-bold">*</span></label>
                        <input type="text" class="form-control col-md-6 format-input" asp-for="LastName" placeholder="Enter last name" pattern="^[a-zA-Z ]+$" maxlength="30" />
                        <span asp-validation-for="LastName" class="text-danger text-sm-center validation-font"></span>
                    </div>
                    @if (Model.Id == 0)
                    {
                        <!--editable email field on create new user-->
                        <div class="form-group  mb-4">
                            <label asp-for="Email">Email <span class="text-danger fw-bold">*</span></label>
                            <input type="text" class="form-control col-md-6 format-input" asp-for="Email" placeholder="Enter email" autocomplete="new-email" maxlength="100" />
                            <span asp-validation-for="Email" class="text-danger text-sm-center validation-font"></span>
                        </div>
                    }
                    else
                    {
                        <!--readonly email field on update new user-->
                        <div class="form-group  mb-4">
                            <label asp-for="Email">Email <span class="text-danger fw-bold">*</span></label>
                            <input type="text" class="form-control col-md-6" asp-for="Email" placeholder="Enter email" autocomplete="new-email" maxlength="100" readonly />
                            <span asp-validation-for="Email" class="text-danger text-sm-center validation-font"></span>
                        </div>
                    }

                    <div class="form-group mb-4">
                        <label asp-for="Phone">Phone</label>
                        <div class="input-group">
                            <div class="input-group-prepend col-1" style="">
                                <input class="input-group-text form-control readonly" value="+1" disabled style="border-radius:0px;" />
                            </div>
                            <input type="text" class="form-control col-md-6" asp-for="Phone" placeholder="Enter phone" maxlength="12" oninput="formatPhoneNumber(this)" />
                        </div>
                        <span asp-validation-for="Phone" class="text-danger text-sm-center validation-font"></span>
                    </div>
                    <!--show password fields on create user form only-->
                    @if (Model.Id == 0)
                    {
                        <div class="form-group  mb-4">
                            <label asp-for="Password">Password <span class="text-danger fw-bold">*</span></label>
                            <input type="text" class="form-control col-md-6 format-input" asp-for="Password " placeholder="Enter password " autocomplete="new-password" maxlength="16" />
                            <span asp-validation-for="Password" class="text-danger text-sm-center validation-font"></span>
                        </div>
                        <div class="form-group  mb-4">
                            <label asp-for="ConfirmPassword">Confirm Password <span class="text-danger fw-bold">*</span></label>
                            <input type="text" class="form-control col-md-6 format-input" asp-for="ConfirmPassword" placeholder="Enter confirm password" maxlength="16" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger text-sm-center validation-font"></span>
                        </div>
                    }
                </div>
                <div class="card-footer text-end">
                    <a class="btn btn-secondary" asp-action="userslist" asp-controller="account">BACK</a>
                    @if (Model.Id > 0)
                    {
                        <button class="btn btn-success" type="submit" onclick="">UPDATE</button>
                    }
                    else
                    {
                        <button class="btn btn-success" type="submit">SUBMIT</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>