@model List<PureGreenLandGroup.Models.DTO.Account.UserDetailsVM>
@using Microsoft.AspNetCore.Http
@using PureGreenLandGroup.Utility.Resources
@inject IHttpContextAccessor Accessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var loggedInUser = @Accessor.HttpContext?.Session.GetString("LoggedUserEmail")?.ToString() ?? string.Empty;
    ViewData["Title"] = "Users List";
}

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<!--sucess messages-->
@if (@ViewBag.StatusMessage == "1")
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="z-index:99999">
        <div class="toast-header">
            <strong class="me-auto">Success</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="$('.toast').hide();"></button>
        </div>
        <div class="toast-body">
            @Messages.UserCreated
        </div>
    </div>
}
else if (@ViewBag.StatusMessage == "2")
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="z-index:99999">
        <div class="toast-header">
            <strong class="me-auto">Success</strong>

            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="$('.toast').hide();"></button>
        </div>
        <div class="toast-body">
            @Messages.UserModified
        </div>
    </div>
}
else if (@ViewBag.StatusMessage == "3")
{
    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true" style="z-index:99999">
        <div class="toast-header">
            <strong class="me-auto">Warning</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close" onclick="$('.toast').hide();"></button>
        </div>
        <div class="toast-body text-danger">
            @Messages.UserAlreadyExist
        </div>
    </div>
}
else if (@ViewBag.StatusMessage == "0")
{
    @await Html.PartialAsync("_dataErrorMessage")
}
<div class="rightSection"> 
    <div class="row">
        <div class="row d-flex justify-content-end mb-2 ">
            <a class="btn btn-success col-auto" asp-action="CreateNewUser" asp-controller="Account"><i class="fas fa-plus"></i> Add New</a>
        </div>
        <div class="table-responsive pb-3">
            <table class="table table-bordered dataTable no-footer table-striped" id="UsersDatatable">
                <thead class="bg-dark text-white">
                    <tr>

                        <th>First name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        int counter = 1;
                        foreach (var user in Model)
                        {
                            <tr>
                                @* <td>@counter</td> *@
                                <td>@user.FirstName</td>
                                <td>@user.LastName</td>
                                <td>@user.Email</td>
                                <td>@user.Phone</td>
                                <td>@user.Role</td>
                                <td>
                                    <a class="text-success" asp-action="PopulateUserDetails" asp-controller="account" asp-route-userId="@user.Id">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    @if (loggedInUser.ToLower() != user.Email.ToLower())
                                    {
                                        <a class=" text-danger" onclick="DeleteUser('@user.Id')">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>

                                    }


                                    @if (user.IsActive)
                                    {
                                        <a class=" text-warning">
                                            <label class="switch">
                                                <input type="checkbox" checked onclick="SwitchUserStatus('@user.Id','true')">
                                                <span class="slider round"></span>
                                            </label>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class=" text-warning">
                                            <label class="switch">
                                                <input type="checkbox" onclick="SwitchUserStatus('@user.Id','false')">
                                                <span class="slider round"></span>
                                            </label>
                                        </a>
                                    }

                                </td>
                            </tr>
                            counter++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="~/admindashboard/js/jquery.min.js"></script>
<script src="~/admindashboard/datatable/datatable_puregreen.js"></script>

<script type="text/javascript">
    $('#UsersDatatable').DataTable({
        columnDefs: [
            { orderable: false, targets: [5] } // Disable sorting for the first and fourth columns

        ],
        pageLength: 25,//set default page record 25
    });
</script>
