@model List<PureGreenLandGroup.Models.ViewModel.Properties.PropertiesListVM>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor Accessor
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Properties List";
    var userInRole = @Accessor.HttpContext?.Session.GetString("LoggedUserRole")?.ToString() ?? string.Empty;
}

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

<div class="tableDetaildate">
    <div class="table-responsive pb-3">
        <div class="table_list_data mt-3">
            <table class="table table-bordered table-striped" id="PropertiesTable">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center" style="width:200px;">Property Name</th>
                        <th scope="col" class="text-center" style="width:300px;">Address</th>
                        <th scope="col">Controller</th>
                        <th scope="col">Fault</th>
                        <th scope="col">Issues</th>
                        <th scope="col">Report</th>
                        @if (!string.IsNullOrEmpty(userInRole))
                        {
                            if (userInRole.ToLower() == "admin")
                            {
                                <th scope="col">Action</th>
                            }
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var property in Model)
                    {
                        <tr>
                            <td>@property.PropertyName</td>
                            <td>@property.Address</td>
                            <td>
                                <a asp-controller="ControllersManager" asp-action="ControllerGridIndex" asp-route-propertyId="@property.Id" class="w-100 d-flex justify-content-end" id="ViewSiteControllersBtn">
                                    <span>@property.ControllerCount  <i class="fa fa-eye"></i></span>
                                </a>
                            </td>
                            <td>@property.Faults</td>
                            <td>@property.TotalInspectionIssues</td>
                            <td><i class="fa fa-search"></i></td>

                            @if (!string.IsNullOrEmpty(userInRole))
                            {
                                if (userInRole.ToLower() == "admin")
                                {
                                    @if (property.IsActive)
                                    {
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" checked onchange="ManagePropertystatus('@property.Id', 'true')">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>

                                    }
                                    else
                                    {
                                        <td>
                                            <label class="switch">
                                                <input type="checkbox" onchange="ManagePropertystatus('@property.Id', 'false')">
                                                <span class="slider round"></span>
                                            </label>
                                        </td>
                                    }                                                }

                            }
                            else
                            {
                                @if (property.IsActive)
                                {
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" checked onchange="ManagePropertystatus('@property.Id', 'true')">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <label class="switch">
                                            <input type="checkbox" onchange="ManagePropertystatus('@property.Id', 'false')">
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                }
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/AdminDashboard/js/jquery.min.js"></script>
<script src="~/admindashboard/datatable/datatable_puregreen.js"></script>
@if (!string.IsNullOrEmpty(userInRole))
{
    if (userInRole.ToLower() == "admin")
    {
        <script type="text/javascript">
            $("#PropertiesTable").DataTable({
                pageLength: 25,//set default page record 25
                columnDefs: [
                    { orderable: false, targets: [5, 6] } // Disable sorting for the first and fourth columns
                ],
                drawCallback: function (settings) {

                    var api = this.api();
                    var pageInfo = api.page.info();

                    // Check if there are no records
                    if (pageInfo.recordsDisplay === 0) {
                        // Disable both Previous and Next buttons
                        $('.dataTables_paginate .paginate_button').addClass('disabled');
                    }
                }
            });
        </script>
    }
    else
    {
        <script type="text/javascript">
            $("#PropertiesTable").DataTable({
                pageLength: 25,//set default page record 25
                columnDefs: [
                    { orderable: false, targets: [5] } // Disable sorting for the first and fourth columns
                ],
                drawCallback: function (settings) {

                    var api = this.api();
                    var pageInfo = api.page.info();

                    // Check if there are no records
                    if (pageInfo.recordsDisplay === 0) {
                        // Disable both Previous and Next buttons
                        $('.dataTables_paginate .paginate_button').addClass('disabled');
                    }
                }
            });
        </script>
    }
}
