@using PureGreenLandGroup.Models.ViewModel.BaseViewModels
@model AdminPanelStatisticsVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Admin Panel";
}

<div class="admin-panel-container">
    <div class="row gy-3">
        <!--Sync-->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h4>
                                <a asp-controller="PropertiesManager" asp-action="SyncPropertiesIndex">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Property Statistics</span>
                                </a>
                            </h4>
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div id="PropertySyncChart"></div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data">
                                <div class="all-active-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Active</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@Model.ActiveProperties</h5>
                                    </div>
                                </div>
                                <div class="all-inactive-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Inactive</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@(Model.TotalProperties - Model.ActiveProperties)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="total-datails">
                                <span>Total</span>
                                <span>@Model.TotalProperties</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Manufacturers -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h4>
                                <a asp-controller="MasterDataManager" asp-action="ManufacturerGridIndex">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Manufacturer</span>
                                </a>
                            </h4>
                            @*  <a asp-controller="MasterDataManager" asp-action="ManufacturerGridIndex">
                            <span>Go to the page</span>
                            <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                            </a> *@
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div id="ManufacturersChart"></div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data">
                                <div class="all-active-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Active</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@Model.ActiveManufacturers</h5>
                                    </div>
                                </div>
                                <div class="all-inactive-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Inactive</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@(Model.TotalManufacturers - Model.ActiveManufacturers)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="total-datails">
                                <span>Total</span>
                                <span>@Model.TotalManufacturers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Models -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h4>
                                <a asp-controller="MasterDataManager" asp-action="ModelGridIndex">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Models</span>
                                </a>
                            </h4>
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div id="ModelsChart"></div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data">
                                <div class="all-active-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Active</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@Model.ActiveModels</h5>
                                    </div>
                                </div>
                                <div class="all-inactive-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Inactive</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@(Model.TotalModels - Model.ActiveModels)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="total-datails">
                                <span>Total</span>
                                <span>@Model.TotalModels</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Plants -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h4>
                                <a asp-controller="MasterDataManager" asp-action="PlantsGridIndex">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Plants Types</span>
                                </a>
                            </h4>
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div id="PlantsChart"></div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data">
                                <div class="all-active-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Active</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@Model.ActivePlants</h5>
                                    </div>
                                </div>
                                <div class="all-inactive-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Inactive</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@(Model.TotalPlants - Model.ActivePlants)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="total-datails">
                                <span>Total</span>
                                <span>@Model.TotalPlants</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Soil -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h3>
                                <a asp-controller="MasterDataManager" asp-action="SoilTypeGridIndex">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Soil Types</span>
                                </a>
                            </h3>
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div id="SoilChart"></div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data">
                                <div class="all-active-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Active</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@Model.ActiveSoilTypes</h5>
                                    </div>
                                </div>
                                <div class="all-inactive-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Inactive</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@(Model.TotalSoilTypes - Model.ActiveSoilTypes)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="total-datails">
                                <span>Total</span>
                                <span>@Model.TotalSoilTypes</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sprinklers -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h3>
                                <a asp-controller="MasterDataManager" asp-action="SprinklersGridIndex">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Sprinklers</span>
                                </a>
                            </h3>
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div id="SprinklersChart"></div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data">
                                <div class="all-active-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Active</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@Model.ActiveSprinklers</h5>
                                    </div>
                                </div>
                                <div class="all-inactive-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Inactive</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@(Model.TotalSprinklers - Model.ActiveSprinklers)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="total-datails">
                                <span>Total</span>
                                <span>@Model.TotalSprinklers</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Zone Valve Size -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h4>
                                <a asp-controller="MasterDataManager" asp-action="ValveSizeGridIndex">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Zone Valve Size</span>
                                </a>
                            </h4>
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div id="ValveSizeChart"></div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data">
                                <div class="all-active-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Active</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@Model.ActiveValveSize</h5>
                                    </div>
                                </div>
                                <div class="all-inactive-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Inactive</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@(Model.TotalValveSize - Model.ActiveValveSize)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="total-datails">
                                <span>Total</span>
                                <span>@Model.TotalValveSize</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Seasonal Adjust Month -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h4>
                                <a asp-controller="MasterDataManager" asp-action="SeasonalAdjustMonthGridIndex">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Seasonal Adjust Month</span>
                                </a>
                            </h4>
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div id="SeasonalAdjustChart"></div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data">
                                <div class="all-active-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Active</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@Model.ActiveSeasionalAdjust</h5>
                                    </div>
                                </div>
                                <div class="all-inactive-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Inactive</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@(Model.TotalSeasionalAdjust - Model.ActiveSeasionalAdjust)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="total-datails">
                                <span>Total</span>
                                <span>@Model.TotalSeasionalAdjust</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Zone Runtime -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h4>
                                <a asp-controller="MasterDataManager" asp-action="ZoneRuntimeGridIndex">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Zone Runtime</span>
                                </a>
                            </h4>
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div id="ZoneRuntimeChart"></div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data">
                                <div class="all-active-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Active</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@Model.ActiveRuntime</h5>
                                    </div>
                                </div>
                                <div class="all-inactive-data">
                                    <div class="a-data d-flex align-items-center justify-content-center gap-1">
                                        <span><i class="fa-solid fa-circle"></i></span>
                                        <span>Inactive</span>
                                    </div>
                                    <div class="count mt-2">
                                        <h5>@(Model.TotalRuntime - Model.ActiveRuntime)</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="total-datails">
                                <span>Total</span>
                                <span>@Model.TotalRuntime</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Catalog mapping items -->
        <div class="col-xxl-3 col-xl-4 col-lg-6 col-md-12">
            <div class="admin-panel-card">
                <div class="card">
                    <div class="card-body">
                        <div class="admin-panel-heading">
                            <h4>
                                <a asp-controller="MasterDataManager" asp-action="CatalogMapping">
                                    <i class=""><img src="~/admindashboard/images/export.svg" /></i>
                                    <span>Catalog Mapping data</span>
                                </a>
                            </h4>
                        </div>
                        <div class="chart-section d-flex justify-content-center">
                            <div>
                                <img src="~/admindashboard/images/icons/csv_icon.png" style="height:170px;" />
                            </div>
                        </div>
                        <div class="chart-details">
                            <div class="all-data" style="justify-content: center;">
                                <a class="pt-3 pb-3" asp-controller="MasterDataManager" asp-action="CatalogMapping" id="mappingPageLink" style="text-decoration:underline;">
                                    <i>
                                        <svg style="transform: rotate(-180deg);" b-ry6o2hwui3="" width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <g b-ry6o2hwui3="" id="SVGRepo_bgCarrier" stroke-width="0"></g>
                                            <g b-ry6o2hwui3="" id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                                            <g b-ry6o2hwui3="" id="SVGRepo_iconCarrier"> <path b-ry6o2hwui3="" d="M15 4H18C19.1046 4 20 4.89543 20 6V18C20 19.1046 19.1046 20 18 20H15M8 8L4 12M4 12L8 16M4 12L16 12" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g>
                                        </svg>
                                    </i>
                                   Go to Mapping Page
                               </a>
                            </div>
                            <div class="total-datails" style="justify-content: center;">
                                <span style="color: #136536 !important;">Total</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>


<script type="text/javascript">

    var labels = ["Active", "Inactive"];
    var propertySyncCounts = [@Model.ActiveProperties, @(Model.TotalProperties - Model.ActiveProperties)];
    var manufacturersCounts = [@Model.ActiveManufacturers, @(Model.TotalManufacturers - Model.ActiveManufacturers)];
    var modelData = [@Model.ActiveModels, @(Model.TotalModels - Model.ActiveModels)];
    var plantsData = [@Model.ActivePlants, @(Model.TotalPlants - Model.ActivePlants)];
    var soilData = [@Model.ActiveSoilTypes, @(Model.TotalSoilTypes - Model.ActiveSoilTypes)];
    var sprinklersData = [@Model.ActiveSprinklers, @(Model.TotalSprinklers - Model.ActiveSprinklers)];
    var valveSizeData = [@Model.ActiveValveSize, @(Model.TotalValveSize - Model.ActiveValveSize)];
    var seasonalAdjustData = [@Model.ActiveSeasionalAdjust, @(Model.TotalSeasionalAdjust - Model.ActiveSeasionalAdjust)];
    var zoneRuntimeData = [@Model.ActiveRuntime, @(Model.TotalRuntime - Model.ActiveRuntime)];
    var catalogMappingData = [8, 0];

    var propertySyncChartOptions = GenerateChartOptions(propertySyncCounts);
    var manufacturerChartOptions = GenerateChartOptions(manufacturersCounts);
    var modelChartOptions = GenerateChartOptions(modelData);
    var plantsChartOptions = GenerateChartOptions(plantsData);
    var soilChartOptions = GenerateChartOptions(soilData);
    var sprinklerChartOptions = GenerateChartOptions(sprinklersData);
    var valveSizeChartOptions = GenerateChartOptions(valveSizeData);
    var zoneRuntimeChartOptions = GenerateChartOptions(zoneRuntimeData);
    var seasonalAdjustChartOptions = GenerateChartOptions(seasonalAdjustData);
    var catalogMappingDataChartOptions = GenerateChartOptions(catalogMappingData);


    new ApexCharts(document.querySelector("#PropertySyncChart"), propertySyncChartOptions).render();
    new ApexCharts(document.querySelector("#ManufacturersChart"), manufacturerChartOptions).render();
    new ApexCharts(document.querySelector("#ModelsChart"), modelChartOptions).render();
    new ApexCharts(document.querySelector("#PlantsChart"), plantsChartOptions).render();
    new ApexCharts(document.querySelector("#SoilChart"), soilChartOptions).render();
    new ApexCharts(document.querySelector("#SprinklersChart"), sprinklerChartOptions).render();
    new ApexCharts(document.querySelector("#ValveSizeChart"), valveSizeChartOptions).render();
    new ApexCharts(document.querySelector("#ZoneRuntimeChart"), zoneRuntimeChartOptions).render();
    new ApexCharts(document.querySelector("#SeasonalAdjustChart"), seasonalAdjustChartOptions).render();
    new ApexCharts(document.querySelector("#CatalogMappingChart"), catalogMappingDataChartOptions).render();


    // Function to generate chart options
    function GenerateChartOptions(seriesData) {
        return {
            series: seriesData,//active/inactive
            labels: ["Active", "Inactive"],
            chart: {
                type: 'donut',
                width: 200,  // Set the width to 200px
                height: 200,
            },
            legend: true,
            colors: ['#7FBE41', '#2C5C41'],
            options: {
                chart: {
                    width: 150
                },
            },
            fill: {
                type: "image",
                image: {
                    src: ['/admindashboard/images/Frame-412.jpg', '/admindashboard/images/Frame-42.svg'],
                },
            },
            states: {
                hover: {
                    filter: {
                        type: "none"
                    }
                }
            },
            tooltip: {
                enabled: true
            },
            dataLabels: {
                enabled: true,//show/hide percentage of data
                formatter: function (val) {
                    return Math.round(val) + "%"; // Round to the nearest integer
                },
                style: {
                    colors: ['#eef729'], // Change the colors of the data labels text
                },
                minAngleToShowLabel: 0, // Minimum angle required to show the label
            },
            responsive: [{
                breakpoint: 480,
                options: {
                    chart: {
                        width: 150
                    },
                }
            }]
        }
    }

</script>
