@using PureGreenLandGroup.Models.ViewModel.BaseViewModels
@using PureGreenLandGroup.Utility.Enums
@model List<SprinklerTypesViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Sprinklers List";
    SprinklerTypesViewModel sprinklerTypeVM = new();
}

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

<div class="rightSection">
    <div class="row">
        <div class="row mb-2">
            <div class="col-auto">
                <a class="btn btn-secondary-custom" asp-action="AdminPanel" asp-controller="MasterDataManager">Back to statistics </a>
            </div>
            <div class="col-auto ms-auto">
                <a class="btn btn-success col-auto" onclick="OpenMasterDataPopup()"><i class="fas fa-plus"></i> New</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered dataTable table-striped no-footer" id="SprinklerTable">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Sprinkler Type Name</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        int counter = 1;
                        foreach (var sprinklerItem in Model)
                        {
                            <tr>
                                <td>@sprinklerItem.SprinklerTypeName</td>

                                <td>
                                    @if (sprinklerItem.IsActive)
                                    {
                                        <div style="color:#3ea304;">
                                            Active
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="color:gray;">
                                            Inactive
                                        </div>
                                    }
                                </td>
                                <td>
                                    @{
                                        var requestURl = "/MasterDataManager/GetSprinkler?id=" + @sprinklerItem.Id;
                                    }
                                    <a class="text-success" onclick="PopulateMasterEntityDetail('@requestURl','sprinklerTypeVM_Id','sprinklerTypeVM_SprinklerTypeName')">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    @if (sprinklerItem.IsActive)
                                    {
                                        <a class="text-warning ">
                                            <label class="switch">
                                                <input type="checkbox" checked onclick="ChangeMasterDataStatusConfirmation('@sprinklerItem.Id','false','@MasterEntityType.sprinkler')">
                                                <span class="slider round"></span>
                                            </label>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class=" text-warning">
                                            <label class="switch">
                                                <input type="checkbox" onclick="ChangeMasterDataStatusConfirmation('@sprinklerItem.Id','true','@MasterEntityType.sprinkler')">
                                                <span class="slider round"></span>
                                            </label>
                                        </a>
                                    }
                                </td>
                            </tr>
                            counter++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade modal-lg modal-lg-custom" id="CreateSprinklerPopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title">Create New Sprinkler Type</h5>
                <button type="button" class="btn-close inspectionBtnClose " data-bs-dismiss="modal" aria-label="Close" onclick="CloseMasterDataPopups()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <form method="post" asp-action="CreateNewSprinkler" asp-controller="MasterDataManager" enctype="multipart/form-data" id="SprinklerTypeForm">
                <div class="modal-body">
                    <div class="m-2">
                        <input type="hidden" asp-for="@sprinklerTypeVM.Id" />
                        <div class="form-group ">
                            <label asp-for="@sprinklerTypeVM.SprinklerTypeName" class="mb-2">Sprinkler Type Name<span class="text-danger fw-bold ">*</span></label>
                            <input type="text" asp-for="@sprinklerTypeVM.SprinklerTypeName" placeholder="Enter sprinkler name.." class="form-control form-control-custom" maxlength="100" />
                            <span asp-validation-for="@sprinklerTypeVM.SprinklerTypeName" class="text-danger validation-font" id="SprinklerTypeName_Validation"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-success"> SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/AdminDashboard/js/jquery.min.js"></script>
<script src="~/admindashboard/datatable/datatable_puregreen.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/admindashboard/js/masterdatehandler.js"></script>


