@using PureGreenLandGroup.Models.ViewModel.BaseViewModels
@using PureGreenLandGroup.Utility.Enums
@model List<ValveSizeViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Valve Size List";
    ValveSizeViewModel valveSizeVM = new();
}

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

<div class="rightSection">
    <div class="row">
        <div class="row mb-2">
            <div class="col-auto">
                <a class="btn btn-secondary-custom" asp-action="AdminPanel" asp-controller="MasterDataManager">Back to statistics </a>
            </div>
            <div class="col-auto ms-auto">
                <a class="btn btn-success col-auto" onclick="OpenMasterDataPopup()"><i class="fas fa-plus"></i> New</a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered dataTable table-striped no-footer" id="ValveSizeTable">
                <thead class="bg-dark text-white">
                    <tr>
                        <th>Valve Size</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Count > 0)
                    {
                        int counter = 1;
                        foreach (var valveSizeItem in Model)
                        {
                            <tr>
                                <td>@valveSizeItem.ValveSizenames</td>

                                <td>
                                    @if (valveSizeItem.IsActive)
                                    {
                                        <div style="color:#3ea304;">
                                            Active
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="color:gray;">
                                            Inactive
                                        </div>
                                    }
                                </td>
                                <td>
                                    @{
                                        var requestURl = "/MasterDataManager/GetValveSize?id=" + @valveSizeItem.Id;
                                    }
                                    <a class="text-success" onclick="PopulateMasterEntityDetail('@requestURl','valveSizeVM_Id','valveSizeVM_ValveSizenames')">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    @if (valveSizeItem.IsActive)
                                    {
                                        <a class="text-warning ">
                                            <label class="switch">
                                                <input type="checkbox" checked onclick="ChangeMasterDataStatusConfirmation('@valveSizeItem.Id','false','@MasterEntityType.valve_size')">
                                                <span class="slider round"></span>
                                            </label>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class=" text-warning">
                                            <label class="switch">
                                                <input type="checkbox" onclick="ChangeMasterDataStatusConfirmation('@valveSizeItem.Id','true','@MasterEntityType.valve_size')">
                                                <span class="slider round"></span>
                                            </label>
                                        </a>
                                    }
                                </td>
                            </tr>
                            counter++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade modal-lg modal-lg-custom" id="CreateValveSizePopup" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <h5 class="modal-title">Create New Valve Size</h5>
                <button type="button" class="btn-close inspectionBtnClose " data-bs-dismiss="modal" aria-label="Close" onclick="CloseMasterDataPopups()"><i class="fa-solid fa-xmark"></i></button>
            </div>
            <form method="post" asp-action="CreateNewValveSize" asp-controller="MasterDataManager" enctype="multipart/form-data" id="ValveSizeForm">
                <div class="modal-body">
                    <div class="m-2">
                        <input type="hidden" asp-for="@valveSizeVM.Id" />
                        <div class="form-group ">
                            <label asp-for="@valveSizeVM.ValveSizenames" class="mb-2">Valve Size<span class="text-danger fw-bold ">*</span></label>
                            <input type="text" asp-for="@valveSizeVM.ValveSizenames" placeholder="Enter valve size.." class="form-control form-control-custom" maxlength="100" />
                            <span asp-validation-for="@valveSizeVM.ValveSizenames" class="text-danger validation-font" id="ValveSizeName_Validation"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center mt-2">
                    <button type="submit" class="btn btn-success"> SUBMIT</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/AdminDashboard/js/jquery.min.js"></script>
<script src="~/admindashboard/datatable/datatable_puregreen.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="~/admindashboard/js/masterdatehandler.js"></script>


