@model List<PureGreenLandGroup.Models.ViewModel.Reports.ControllerTimeDetailsVM>

<link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />

<table class="table table-bordered dataTable no-footer table-striped" id="ControllerRunTimeReportTable">
    <thead class="bg-dark text-white">
        <tr>
            <th>Controller name</th>
            <th>Property</th>
            <th>Address</th>
            <th>Model</th>
            <th>Manufacturer</th>
            <th>Start Time</th>
            <th>Total daily runtime(min)</th>
            <th>Total weekly runtime(min)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var controllerTimeDetails in Model)
        {
            <tr>
                <td>@controllerTimeDetails.ControllerName</td>
                <td>@controllerTimeDetails.PropertyName</td>
                <td>@controllerTimeDetails.Address</td>
                <td>@controllerTimeDetails.ModelName</td>
                <td>@controllerTimeDetails.ManufacturerName</td>
                @if (controllerTimeDetails.ProgramTimer1.Contains("OFF"))
                {
                    <td>OFF</td>
                }
                else
                {
                    <td>@controllerTimeDetails.ProgramTimer1</td>
                }
                <td>@controllerTimeDetails.TotalRuntimeInMinutes</td>
                <td>@controllerTimeDetails.TotalWeeklyRuntime</td>
                <td>
                    <a class="btn text-success" onclick="ExportReportPopup(event)" value-data="@controllerTimeDetails.Id">
                        <i class="fa-solid fa-file-csv"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


<script src="~/AdminDashboard/js/jquery.min.js"></script>
<script src="~/admindashboard/datatable/datatable_puregreen.js"></script>
<script src="~/AdminDashboard/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
    $('#ControllerRunTimeReportTable').DataTable({
        pageLength: 25,//set default page record 25
        columnDefs: [
            { orderable: false, targets: [8] } // Disable sorting for the first and fourth columns
        ],
        drawCallback: function (settings) {

            var api = this.api();
            var pageInfo = api.page.info();

            // Check if there are no records
            if (pageInfo.recordsDisplay === 0) {
                // Disable both Previous and Next buttons
                $('.dataTables_paginate .paginate_button').addClass('disabled');
            }
        }
    });
</script>

