@using PureGreenLandGroup.Utility.Enums
@model IList<PureGreenLandGroup.Models.ViewModel.SiteControllerManagement.ProgramViewModel>

<div class="rightSection p-3">
    <div class="d-flex justify-content-center"></div>
    <div class="inputDetails d-flex justify-content-between">
        <div class="col-md-12 view-mode">
            <div class="row w-100 g-3">
                @{
                    int i = 0;
                }
                @foreach (var program in Model)
                {
                    <div class="col-xxl-3 col-md-6 col-sm-12">
                        <div class="inspection-programs ">
                            <div class="inputProgram">

                                @if (!string.IsNullOrEmpty(program.ProgramName))
                                {
                                    <h4>@program.ProgramName</h4>
                                }
                                else
                                {
                                    @switch (i)
                                    {
                                        case 0:
                                            <h4>PROGRAM A</h4>
                                            break;
                                        case 1:
                                            <h4>PROGRAM B</h4>
                                            break;
                                        case 2:
                                            <h4>PROGRAM C</h4>
                                            break;
                                        case 3:
                                            <h4>PROGRAM D</h4>
                                            break;
                                        default: break;
                                    }
                                }

                            </div>
                            <div>
                                Watering Day Settings
                            </div>
                            <div class="d-flex weeksItem align-items-center  text-center mt-2">
                                <div>
                                    <p>@WeekDays.Sun</p>
                                    @if (Model[i].IsSunEnable)
                                    {
                                        <i class="fa-solid fa-check check-day"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark uncheck-day"></i>
                                    }
                                </div>
                                <div>
                                    <p>@WeekDays.Mon</p>
                                    @if (Model[i].IsMonEnable)
                                    {
                                        <i class="fa-solid fa-check check-day"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark uncheck-day"></i>
                                    }
                                </div>
                                <div>
                                    <p>@WeekDays.Tue</p>
                                    @if (Model[i].IsTueEnabled)
                                    {
                                        <i class="fa-solid fa-check check-day"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark uncheck-day"></i>
                                    }
                                </div>
                                <div>
                                    <p>@WeekDays.Wed</p>
                                    @if (Model[i].IsWedEnabled)
                                    {
                                        <i class="fa-solid fa-check check-day"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark uncheck-day"></i>
                                    }
                                </div>
                                <div>
                                    <p>@WeekDays.Thu</p>
                                    @if (Model[i].IsThuEnabled)
                                    {
                                        <i class="fa-solid fa-check check-day"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark uncheck-day"></i>
                                    }
                                </div>
                                <div>
                                    <p>@WeekDays.Fri</p>
                                    @if (Model[i].IsFriEnabled)
                                    {
                                        <i class="fa-solid fa-check check-day"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark uncheck-day"></i>
                                    }
                                </div>
                                <div>
                                    <p>@WeekDays.Sat</p>
                                    @if (Model[i].IsSatEnabled)
                                    {
                                        <i class="fa-solid fa-check check-day"></i>
                                    }
                                    else
                                    {
                                        <i class="fa-solid fa-xmark uncheck-day"></i>
                                    }
                                </div>
                            </div>
                            <div class="timeSelectorItem mt-4">
                                <div id="req_input" class="datainputs">
                                    <label>Program Start Time</label> <br>
                                    <div class="d-flex flex-column mt-2">
                                        <div class="d-flex w-100 fw-medium">
                                            <div class="program-inner-count d-flex align-items-center justify-content-center"><span>1</span></div>
                                            <span>@Model[i].ProgramTimer1 </span>
                                            @if (!string.IsNullOrEmpty(@Model[i].ProgramTimer1) && @Model[i].ProgramTimer1.ToLower() != "off")
                                            {
                                                <span>&nbsp;@Model[i].Timer1Median </span>
                                            }
                                        </div>
                                        <div class="d-flex w-100 fw-medium">
                                            <div class="program-inner-count-disabled d-flex align-items-center justify-content-center"><span>2</span></div>
                                            <span>@Model[i].ProgramTimer2 </span>
                                            @if (!string.IsNullOrEmpty(@Model[i].ProgramTimer1) && @Model[i].ProgramTimer1.ToLower() != "off")
                                            {
                                                <span>&nbsp;@Model[i].Timer2Median </span>
                                            }
                                        </div>
                                        <div class="d-flex w-100 fw-medium">
                                            <div class="program-inner-count-disabled d-flex align-items-center justify-content-center"><span>3</span></div>
                                            <span>@Model[i].ProgramTimer3 </span>
                                            @if (!string.IsNullOrEmpty(@Model[i].ProgramTimer1) && @Model[i].ProgramTimer1.ToLower() != "off")
                                            {
                                                <span>&nbsp;@Model[i].Timer3Median </span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    i++;
                }
            </div>
        </div>
    </div>
</div>
