@using System.Globalization
@model IList<PureGreenLandGroup.Models.ViewModel.SiteControllerManagement.SeasionalAdjustViewModel>

<div class="rightSection">
    <div class="row justify-content-end">
         <div class="col-11">
        </div>
        <div class="col">
            <a style="text-decoration: underline;color: #3ea304;" id="EditInspectionSeasonalAdjustBtn" onclick="EditInspectionSeasonalAdjust();">
                <span><i class="fas fa-pencil-alt"></i></span>
                <span>EDIT</span>
            </a>
            <a style="text-decoration: underline;color: #3ea304;display:none;" id="UpdateInspectionSeasonalAdjustBtn" onclick="UpdateInspectionSeasonalAdjust();">
                <span>UPDATE</span>
            </a>
        </div>
    </div>
    <div class="inputDetails d-flex justify-content-between">
        <div class="d-flex col-12 view-mode table-responsive">
            <table class="inspection-seasonal-table">
                <tbody>
                    <tr>
                        <th scope="col">MONTH</th>
                        <th scope="col">PROGRAM A</th>
                        <th scope="col">PROGRAM B</th>
                        <th scope="col">PROGRAM C</th>
                        <th scope="col">PROGRAM D</th>
                    </tr>
                    @{
                        // Get the current culture's DateTimeFormatInfo
                        DateTimeFormatInfo dateInfo = CultureInfo.CurrentCulture.DateTimeFormat;

                        // Loop through the months (1-12) and print the month names
                        int counter = 0;
                        for (int month = 1; month <= 12; month++)
                        {
                            string monthName = dateInfo.GetMonthName(month);
                            if (@Model.Count > 0)
                            {
                                <tr>
                                    <td>@monthName</td>
                                    <td>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" value="@Model[counter].ProgramA" readonly/>
                                            <span class="input-group-text" id="basic-addon2">%</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" value="@Model[counter].ProgramB" readonly />
                                            <span class="input-group-text" id="basic-addon2">%</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" value="@Model[counter].ProgramC" readonly />
                                            <span class="input-group-text" id="basic-addon2">%</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control" value="@Model[counter].ProgramD" readonly />
                                            <span class="input-group-text" id="basic-addon2">%</span>
                                        </div>
                                    </td>
                                </tr>
                            }
                            else
                            {
                                <tr>
                                    <td>@monthName</td>
                                    <td> 0%</td>
                                    <td>  0%</td>
                                    <td>  0%</td>
                                    <td>  0%</td>
                                </tr>
                            }
                            counter++;
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
