@using Microsoft.AspNetCore.Http
@using PureGreenLandGroup.Utility.Constants
@inject IHttpContextAccessor Accessor
@{
    Layout = null;
    var userInRole = @Accessor.HttpContext?.Session.GetString("LoggedUserRole")?.ToString() ?? string.Empty;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="icon" type="image/x-icon" href="~/favicon/favicon-puregreenlandgroup.com-3-180x180.png">
    <link rel="stylesheet" href="~/AdminDashboard/css/bootstrap.min.css">
    <link rel="icon" type="image/x-icon" href="./images/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="~/AdminDashboard/css/Style.css">
    <link rel="stylesheet" href="~/AdminDashboard/css/responsive.css">
</head>
<body class="cstm-body-bg ">
    <!--page loader section on layout -->
    <div class="overlay" id="Loader" style="z-index: 9999;display:none">
        <img src="~/admindashboard/loader/spin@1x-1.0s-200px-200px.gif" alt="Please Wait..." style="width:100px;margin-top: -150px;" />
    </div>
    <!-- =======================================Top section================================ -->
    <div >
        <header class="main-header">
            <nav>
                <div class="top-header">
                    <div class="sidebar-toggle">
                        <button class="btn toggle-btn">
                            <img src="~/admindashboard/images/burger.png" />
                        </button>
                    </div>
                    <div class="profile btn">
                        <div class="dropdown mx-2">
                            <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" style="color:#3ea304;">
                                <img src="~/admindashboard/images/profile_placeholder.png" id="profile_image"/>
                                <span id="username-text"> @Accessor.HttpContext?.Session.GetString("LoggedUserName")</span>
                                <span id="userrole-text"> (@Accessor.HttpContext?.Session.GetString("LoggedUserRole"))</span>
                            </button>
                            <ul class="dropdown-menu cstm-position" aria-labelledby="dropdownMenuButton1">
                                <li>
                                    <form method="post" asp-controller="Account" asp-action="Logout" enctype="multipart/form-data">
                                        <button type="submit" class="dropdown-item d-flex align-items-center gap-2" onclick="localStorage.clear();">
                                            <span class="logouticon"><svg width="22px" height="22px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15 4H18C19.1046 4 20 4.89543 20 6V18C20 19.1046 19.1046 20 18 20H15M8 8L4 12M4 12L8 16M4 12L16 12" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></span>
                                            <span>Logout </span>
                                        </button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
    </div>
    <div class="sidebar">
        <div class="sidebar-logo">
            <div class="main-logo">
                <img src="~/admindashboard/images/puregreen-logo 1.png" />
            </div>
            <div class="small-logo"><img src="~/admindashboard/images/logo-small.png" /></div>
        </div>
        <!--====================================sidebar navigation============================== -->
        <div class="sidebar-content">
            <div class="sidebar-menu">
                <ul class="nav-menu" id="SidebarMenusList">

                    <!--menus for admin user-->
                    @if (!string.IsNullOrEmpty(userInRole))
                    {
                        if (userInRole == UserRole.Admin)
                        {
                            <li class="nav-item">
                                <a asp-action="AdminDashboard" asp-controller="Account" class="nav-link" id="Dashboard_Menu" onclick="ManageNavigationMenus('Dashboard_Menu')">
                                    <i class=""><img src="~/admindashboard/images/dashboard.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a asp-controller="PropertiesManager" asp-action="PropertiesGridIndex" id="Properties_Menu" class="nav-link" onclick="ManageNavigationMenus('Properties_Menu')">
                                    <i class=""> <img src="/admindashboard/images/icons/real_estate_agent.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Properties</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ControllersManager" asp-action="ControllerGridIndex" class="nav-link" id="AllControllers_Menu" onclick="ManageNavigationMenus('AllControllers_Menu')">
                                    <i class=""><img src="~/admindashboard/images/icons/controller_gen.svg" /></i>
                                    <span class="link-name">@NavigationMenu.Controllers</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="InspectionGridIndex" asp-controller="InspectionManager" class="nav-link" id="Inspection_Menu" onclick="ManageNavigationMenus('Inspection_Menu')">
                                    <i class=""><img src="~/admindashboard/images/inspection-icon.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Inspection</span>
                                </a>
                            </li> 
                            <li class="nav-item">
                                <a asp-action="ReportsNavigation" asp-controller="Reports" class="nav-link" id="CReports_Menu" onclick="ManageNavigationMenus('CReports_Menu')">
                                    <i class=""><img src="~/admindashboard/images/reports-icon.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Reports</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a asp-action="UsersList" asp-controller="Account" class="nav-link" id="Users_Menu" onclick="ManageNavigationMenus('Users_Menu')">
                                    <i class=""><img src="~/admindashboard/images/user-icon.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Users</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="AdminPanel" asp-controller="MasterDataManager" id="Administration_Menu" class="nav-link" onclick="ManageNavigationMenus('Administration_Menu')">
                                    <i class=""><img src="~/admindashboard/images/admin-icon.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Administration</span>
                                </a>
                            </li>
                        }
                        <!--menus for irrigation manager user-->
                        if (userInRole == UserRole.Manager)
                        {
                            <li class="nav-item">
                                <a asp-action="IrrigationManagerDashboard" asp-controller="Account" class="nav-link" id="Dashboard_Menu" onclick="ManageNavigationMenus('Dashboard_Menu')">
                                    <i class=""><img src="~/admindashboard/images/dashboard.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a asp-controller="PropertiesManager" asp-action="PropertiesGridIndex" id="Properties_Menu" class="nav-link" onclick="ManageNavigationMenus('Properties_Menu')">
                                    <i class=""> <img src="/admindashboard/images/icons/real_estate_agent.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Properties</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ControllersManager" asp-action="ControllerGridIndex" class="nav-link" id="AllControllers_Menu" onclick="ManageNavigationMenus('AllControllers_Menu')">
                                    <i class=""><img src="~/admindashboard/images/icons/controller_gen.svg" /></i>
                                    <span class="link-name">@NavigationMenu.Controllers</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="InspectionGridIndex" asp-controller="InspectionManager" class="nav-link" id="Inspection_Menu" onclick="ManageNavigationMenus('Inspection_Menu')">
                                    <i class=""><img src="~/admindashboard/images/inspection-icon.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Inspection</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="ReportsNavigation" asp-controller="Reports" class="nav-link" id="CReports_Menu" onclick="ManageNavigationMenus('CReports_Menu')">
                                    <i class=""><img src="~/admindashboard/images/reports-icon.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Reports</span>
                                </a>
                            </li>
                        }
                        <!--menus for technician  user-->
                        if (userInRole == UserRole.Technician)
                        {
                            <li class="nav-item ">
                                <a asp-controller="PropertiesManager" asp-action="PropertiesGridIndex" id="Properties_Menu" class="nav-link" onclick="ManageNavigationMenus('Properties_Menu')">
                                    <i class=""> <img src="/admindashboard/images/icons/real_estate_agent.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Properties</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-controller="ControllersManager" asp-action="ControllerGridIndex" class="nav-link" id="AllControllers_Menu" onclick="ManageNavigationMenus('AllControllers_Menu')">
                                    <i class=""><img src="~/admindashboard/images/icons/controller_gen.svg" /></i>
                                    <span class="link-name">@NavigationMenu.Controllers</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="InspectionGridIndex" asp-controller="InspectionManager"  class="nav-link" id="Inspection_Menu" onclick="ManageNavigationMenus('Inspection_Menu')">
                                    <i class=""><img src="~/admindashboard/images/inspection-icon.svg" alt=""></i>
                                    <span class="link-name">@NavigationMenu.Inspection</span>
                                </a>

                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
    <main class="main-content">
        <div class="main-container">
            @RenderBody()
        </div>
    </main>

    <footer class="footerSec">
        <span>All Rights Reserved &copy; @DateTime.Today.Year </span>
    </footer>
    <script src="~/AdminDashboard/js/jquery.min.js"></script>
    <script src="~/admindashboard/datatable/datatable_puregreen.js"></script>
    <script src="~/AdminDashboard/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="~/AdminDashboard/js/custom.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


