@model PureGreenLandGroup.Models.ViewModel.Inspection.ZoneIssuesMasterViewModel

<div>
    <div class="modal-area modalBodyContent">
        <div class="row mb-3">
            <div class="col-3">
                <label>Area %</label>
            </div>
            <div class="col">
                <select class="form-control">
                    @foreach (var zoneArea in Model.ZoneAreaDropDown!)
                    {
                        <option value="@zoneArea.Id">@zoneArea.Value</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <label>Description</label>

            </div>
            <div class="col">
                <input type="hidden" asp-for="ZoneViewModel.Id" />
                <textarea asp-for="ZoneViewModel.Description" class="form-control" name="addresstext"></textarea>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="text-end  mb-2">
        <button class="btn undo-btn">Undo Changes</button>
    </div>
    <div class="modal-irrigation modalBodyContent">
        <div class="row p-2">
            <div class="col-3">

                <label>Sprinkler Type</label>
            </div>
            <div class="col">
                <select class="form-control" asp-for="ZoneViewModel.SprinkleTypeId">
                    <option value="0">--select sprinkler--</option>
                    @foreach (var sprinklerType in Model.SprinklerTypesList)
                    {
                        <option value="@sprinklerType.Id">@sprinklerType.SprinklerTypeName</option>
                    }
                </select>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-3">
                <label>Plant Type</label>
            </div>
            <div class="col">
                <select class="form-control" asp-for="ZoneViewModel.PlantTypeId">
                    <option value="0">--select plant--</option>
                    @foreach (var plantType in Model.PlantTypeList)
                    {
                        <option value="@plantType.Id">@plantType.PlantTypeName</option>
                    }
                </select>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-3">
                <label>Soil Type</label>
            </div>
            <div class="col">
                <select class="form-control" asp-for="ZoneViewModel.SoilTypeId">
                    <option value="0">--select soil--</option>
                    @foreach (var soilType in Model.SoilTypeList)
                    {
                        <option value="@soilType.Id">@soilType.SoilTypeName</option>
                    }
                </select>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-3">
                <label>Valve Type</label>
            </div>
            <div class="col">
                <select class="form-control" asp-for="ZoneViewModel.ValveSizeId">
                    @foreach (var valveSize in Model.ValveSizeList)
                    {
                        <option value="@valveSize.Id">@valveSize.ValveSizenames</option>
                    }
                </select>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-3">
                <label>GPM</label>
            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <input class="form-control" />
                    </div>
                    <div class="col-md-2">
                        <input value="GPM" class="form-control" disabled />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="text-end  mb-2">
        <button class="btn undo-btn">Clear</button>
    </div>
    <div class="modal-comment modalBodyContent">
        <div class="modal-area ">
            <label>Comment</label>
            <textarea class="form-control" name="addresstext"></textarea>
        </div>
    </div>
</div>